<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li><a class="zone-tab" id="zone-tab-1" href="#zone-panel-1" data-id="1" data-toggle="tab"><span>Zone 1</span> <%= fa_icon 'circle' %></a></li>
    <li><a class="zone-tab" id="zone-tab-2" href="#zone-panel-2" data-id="2" data-toggle="tab"><span>Zone 2</span> <%= fa_icon 'circle' %></a></li>
    <li><a class="zone-tab" id="zone-tab-3" href="#zone-panel-3" data-id="3" data-toggle="tab"><span>Zone 3</span> <%= fa_icon 'circle' %></a></li>
    <li><a class="zone-tab" id="zone-tab-4" href="#zone-panel-4" data-id="4" data-toggle="tab"><span>Zone 4</span> <%= fa_icon 'circle' %></a></li>
    <li><a class="zone-tab" id="zone-tab-5" href="#zone-panel-5" data-id="5" data-toggle="tab"><span>Zone 5</span> <%= fa_icon 'circle' %></a></li>
    <li><a class="zone-tab" id="zone-tab-6" href="#zone-panel-6" data-id="6" data-toggle="tab"><span>Zone 6</span> <%= fa_icon 'circle' %></a></li>
  </ul>
  <div class="tab-content">
    <%= render "zone_control", :id => '1' %>
    <%= render "zone_control", :id => '2' %>
    <%= render "zone_control", :id => '3' %>
    <%= render "zone_control", :id => '4' %>
    <%= render "zone_control", :id => '5' %>
    <%= render "zone_control", :id => '6' %>
  </div>
</div>
